# * THEOREY QUESTIONS *

## 1. What are variables in Python, and how is dynamic typing handled?
- Variables is a name given to a memory location which we can use to get value.
- Python has dynamic typing symantics if variable

## 2. Explain the difference between int, float, str, and bool data types.
- There are 4 types of data type int, float, str, bool
- In "int" datatype we store numerical value (whole numbers)
- In "float" datatypes we store decimal point value
- In "str" datatype we store string/text type of value
- In "bool" datatype we store boolean type value like True or False

## 3. What is the purpose of the type() function in Python?
- type() is built-in python function we mainly used python function to find out what is datatype/data structure of perticular variable or value

In [22]:
a = 12
type(a)

int

## 4.Describe how to take user input and display output in Python.
- if we want to take input from user then we use input() function
- if we want to print output then we use print() function

In [24]:
age = int(input("What is your age: "))
print(f"Your age is {age}")

What is your age:  24

Your age is 24

## 5.What is string slicing? Provide an example.
- String slicing is technique to slice the string..means to get substring

In [25]:
text = 'Python Session'
lst= [12,33,34,454,32]
print(text[:4]) #we slice first 4 character of index start from 0 to 3

Pyth

## 6. Explain the difference between append(), insert(), and extend() in lists.
- extend,insert and append are all data manuplation method of list
- using that we can add value inside list
- append(value)
    :- add value at end of the list
- extend()
    :- add value at last but if we provide list add value seprate not entire list in last...if we give string each char store sepratly not entire string
- insert(idx,value)
    :- add value at specified position

In [26]:
lst = ["Banana"]

In [27]:
# append
lst.append("Mango")  # we add mango in list using append it always add at end of list
lst

['Banana', 'Mango']

In [28]:
# insert()
lst.insert(1,'Apple') # we add Apple at specified location
lst

['Banana', 'Apple', 'Mango']

In [29]:
# extend()  
fruits=['Guava', 'PineApple', 'Rose']
lst.extend(fruits)  # add each element from fruits as a seprate value in lst
lst

['Banana', 'Apple', 'Mango', 'Guava', 'PineApple', 'Rose']

## 7. What is the key difference between a list and a tuple?
- The key difference between list and tuple
- list is mutable datatypes while tuple in immutable datatypes. ( Mutable means we can change the value)
- list has dynamic size while tuple has fixed size.  that means according to data manupulation technique tuple size if fiexed but list can change its size.

## 8. How does a Python dictionary store data and how can you access its values?
- Python dictionary store data as key:value pair.
- Each key must be unique in dictionary.
- To access the value of dictionary we use key.

In [30]:
dict = {'Name':'Roshan', 'Age':25}  #we store as key:value pair
dict['Name']  #access value of dictionary

'Roshan'

## 9. What are sets in Python and how are they different from lists?
- Set is data sturucture is python.
- The main difference between set and list is set can't store duplicate value while list can.
- list is unorderd/unindexed data stureture while list is ordered/indexed data structure

## 10. Explain the structure and purpose of conditional statements (if, elif, else) in Python.
- Conditional statements in python are used to get specific output based on certain conditoins
- Only one statement execute in if..elif..else block.
- There are 3 types of conditional statement in pythos.
  - if
  - elif
  - else
- if statement
  - There is only one if statement in if..elif..else block
  - if the condition inside if is true then it execute if block
- elif statement
  - If 'if' condition is false then it goes to 'elif' statement if present.
  - the condition of 'elfi' is true then extecute that block of code.
- else statement
  - if neither if nor elif condition true then else block execute.

In [31]:
number = 12
if number > 0:
    print('Number is positive')
elif number < 0:
    print('Number is Negative')
else:
    print('Number is Zero')

### in above code...the first it condtion check if number is greater than zero..if condition is true it goes to that 'if' block
### if the first condition is false then it goes to second condition there check if number is less than zero..if condition is true execute that 'if' block code
### and if the second condition also false then it execute else blocl of code

# NOTE :- Only on block of code executed...it don't exicuted all
# whichever condition is true first...that block executed

Number is positive

# * PRACTICAL QUESTIONS *

## 1. Declare variables of different types (int, float, str, bool) and print their types

In [32]:
a = 12
b = 'hello'
c = 12.3
d = True
print(f'Datatype of a variable is {type(a)}')
print(f'Datatype of b variable is {type(b)}')
print(f'Datatype of c variable is {type(c)}')
print(f'Datatype of d variable is {type(d)}')

Datatype of a variable is <class 'int'>
Datatype of b variable is <class 'str'>
Datatype of c variable is <class 'float'>
Datatype of d variable is <class 'bool'>

## 2. Write a Python program to take a user's name and age and print a greeting message.

In [33]:
name = input("Enter your name: ")
age = input("Enter Your Age: ")
print(f'Hello {name} ! ')

Enter your name:  Roshan
Enter Your Age:  24

Hello Roshan !

## 3. Perform addition, subtraction, multiplication, and division on two user-entered numbers.

In [34]:
first_no = int(input("Enter first number : "))
second_no = int(input("Enter second number : "))
print(f'Addition is {first_no + second_no}')
print(f'Substraction is {first_no - second_no}')
print(f'Mulitplication is {first_no * second_no}')
print(f'Division is {first_no / second_no}')

Enter first number :  34
Enter second number :  43

Addition is 77
Substraction is -9
Mulitplication is 1462
Division is 0.7906976744186046

## 4. Take a string as input and print only the first 3 characters.

In [35]:
txt = input("Enter string : ")
print(txt[:3]) # using string slicing we get first 3 character

Enter string :  HII THERE!

HII

## 5. Slice a string "PythonProgramming" to display thonPro.

In [36]:
txt= "PythonProgramming"
txt[2:9]

'thonPro'

## 6. Create a list of 5 numbers and display the sum and average.

In [38]:
lst = [12,12,321,12,2]
sum = 0
for i in lst:
    sum+=i
print(f'''Sum of 5 Numbers in list is {sum}
and Average of list is {sum/5}''')

Sum of 5 Numbers in list is 359
and Average of list is 71.8

## 7. Append an element to a list and remove one using remove().

In [39]:
lst=[12,32,43]
#add elemnet 
lst.append(1000)
print(f'After appending 1000 : {lst}')
lst.remove(1000)
print(f'After Removing 1000 : {lst}')

After appending 1000 : [12, 32, 43, 1000]
After Removing 1000 : [12, 32, 43]

## 8. Create a tuple of five items and print the third item.

In [41]:
t = (12, 12.3 , True, 'helo', 4)
print(t[2]) #third item at index 2

True

## 9. Create a dictionary with keys as fruit names and values as their prices. Access the price of one fruit.

In [47]:
dict = {'Banana':50, 'Mango':100, 'Apple':75}
print(f'Prices of Banana is {dict["Banana"]}')

Prices of Banana is 50

## 10. Create a set of 5 elements and demonstrate add() and remove() operations.

In [50]:
s = {12,33,23,2,18}
# add elements
s.add(100)
print("After adding 100 in set s : ", s)
s.remove(12)
print("After Removing 12 in set s : ",s)

After adding 100 in set s :  {33, 2, 18, 100, 23, 12}
After Removing 12 in set s :  {33, 2, 18, 100, 23}

## 11. Write a program to check if the number entered by the user is positive, negative, or zero.

In [51]:
number = 12
if number > 0:
    print('Number is positive')
elif number < 0:
    print('Number is Negative')
else:
    print('Number is Zero')

### in above code...the first it condtion check if number is greater than zero..if condition is true it goes to that 'if' block
### if the first condition is false then it goes to second condition there check if number is less than zero..if condition is true execute that 'if' block code
### and if the second condition also false then it execute else blocl of code

# NOTE :- Only on block of code executed...it don't exicuted all
# whichever condition is true first...that block executed

Number is positive

## 12. Write a program to check whether a number is even or odd.

In [54]:
no = int(input("Enter a Number : "))
if no%2==0:
    print(f'{no} is even')
else:
    print(f'{no} is odd')

Enter a Number :  23

23 is odd

## 13. Take a sentence as input and count the number of words in it.

In [59]:
txt = input("Enter a sentence: ")
lst=txt.split() #bydefault based on space it split
words = 0
for i in lst:
    words+=1
print("Total words in txt is ",words)

Enter a sentence:  Hi there! How are You?

Total words in txt is  5

## 14. Convert a string to uppercase and lowercase.

In [60]:
name="Roshan Dhembare"
print("Uppercase: ",name.upper())
print("Lowercase: ",name.lower())

Uppercase:  ROSHAN DHEMBARE
Lowercase:  roshan dhembare

## 15. Write a program to take a list of numbers from the user and print only the even numbers.

In [63]:
# we take only 5 numbers from user
even=[]
for i in range(5):
    n = int(input("Enter a Number: "))
    if n%2==0:
        even.append(n)
print("Even Numbers : ",even)

Enter a Number:  23
Enter a Number:  43
Enter a Number:  1
Enter a Number:  45
Enter a Number:  44

Even Numbers :  [44]